@CHARSET "UTF-8";

body { 
    background-color: aqua; 
    font-family: 'Domine', serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
* {
    box-sizing: border-box;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
}
h1 { 
    color: rgba(255,255,255,0.0);  
    font-family: 'Domine', serif;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
    background: rgb(76,4,124);
    background: linear-gradient(90deg, rgba(76,4,124,1) 0%, rgba(255,255,255,1) 70%);
    -webkit-background-clip: text;
}
h2 { 
    color: rgba(255,255,255,0.0); 
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
    background: rgb(76,4,124);
    background: linear-gradient(90deg, rgba(76,4,124,1) 0%, rgba(255,255,255,1) 70%);
    -webkit-background-clip: text;
}
a { 
    color: purple; 
    text-decoration:none; 
}
ul { 
    color: purple; 
    list-style-type: square;
}
li { 
    color: purple;
}

.byline { 
    color:rgba(0,0,0,0.5); 
    font-size: 70%;
}

header {
    border-top: solid rgba(0,0,0,0.1) 4px;
    margin-left: -2em;
    margin-right: -2em;
}

nav {
    margin-left: 2em;
    margin-right: 2em;
    border-bottom: dotted rgba(0,0,0,0.3) 1px;
    margin-top: -4px;
}

header nav a { 
    color: purple;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    display: block;
    border: solid transparent 4px;
}

header nav a:hover {
    border-top: solid purple 4px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}
header nav {
    overflow: auto;
}

header nav ul li {
    
}

#page-copyright { 
    color: red; 
    text-transform: uppercase; 
    letter-spacing: 3px;
}

.diffcolor { 
    background-color: blue;
}

.bio {
    grid-column: span 2;
}

.bio p { 
    text-indent: 3em;
}

footer {
    text-align: center; 
    font-size: 12px;
    margin-bottom: 2em;
    padding: 3em;
    margin-top: auto;
}

.width-wrap {
    max-width: 1024px;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 3em;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 4px rgba(255,255,255,0.2); 
    background-color: pink;
}

figure {
    position: relative;
}

.mugshot {
    box-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    position: relative;
    top: -1em;
    float: right;
}

footer hr {
    width:50vw;
    min-width:300px;
    margin-top: 3em;
    margin-bottom: 2em;
    border-top: 3px solid;
    border-bottom: 8px dotted;
    border-left: none;
    border-right: none;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.paperclip{
    background-image: url(../images/paperclip.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    right: -7px;
}

.clearer{
    clear: right;
}

#top {
    
}

.back-to-top {
    text-align: right;
    margin-right: -0.5em;
    opacity: 0.5;
}
.back-to-top a {
    position: fixed;
    bottom: 3.5em;
}

.back-to-top:hover {
    opacity: 1;
}

.glossarysection {
    grid-column: span 2;
}

.gallery {
    grid-column: span 2;
    width: 100%;
}

.gallery-thumbnails {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

section div a img {
    width: 100%;
    display: block;
    filter: grayscale(90%);
}

section div a img:hover {
    filter: none;
}

.row-span-2 {
    grid-row: span 2;
}

.column-span-2 {
    grid-column: span 2;
}