@CHARSET "UTF-8";

body { 
    background-color: aqua; 
    font-family: 'Domine', serif;
}
h1 { 
    color: grey; 
    background-image: url(../images/gradient.png); 
    background-repeat: repeat-x; 
    font-family: 'Domine', serif;
}
h2 { 
    color: grey; 
    background-image: url(../images/gradient.png); 
    background-repeat: repeat-x; 
    font-family: 'Roboto', sans-serif;
}
a { 
    color: gold; 
    text-decoration:none; 
}
ul { 
    color: purple; 
    list-style-type: square;
}
li { 
    color: purple;
}

.byline { 
    color:rgba(0,0,0,0.5); 
    font-size: 70%;
}

header nav a { 
    color: purple;
}
header nav ul {
    list-style-type: none;
}

#page-copyright { 
    color: red; 
    text-transform: uppercase; 
    letter-spacing: 3px;
}

.diffcolor { 
    background-color: blue;
}

.bio p { 
    text-indent: 3em; 
}

footer {
    text-align: center; 
    font-size: 12px;
    padding: 3em;
}

width-wrap {
    padding: 0 2em 3em;
    border-color: solid black;
}

