@CHARSET "UTF-8";

body { 
    background-color: aqua; 
    font-family: 'Domine', serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}
h1 { 
    color: rgba(255,255,255,0.0);  
    font-family: 'Domine', serif;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
    background: rgb(76,4,124);
    background: linear-gradient(90deg, rgba(76,4,124,1) 0%, rgba(255,255,255,1) 70%);
    -webkit-background-clip: text;
}
h2 { 
    color: rgba(255,255,255,0.0); 
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
    background: rgb(76,4,124);
    background: linear-gradient(90deg, rgba(76,4,124,1) 0%, rgba(255,255,255,1) 70%);
    -webkit-background-clip: text;
}
a { 
    color: gold; 
    text-decoration:none; 
}
ul { 
    color: purple; 
    list-style-type: square;
}
li { 
    color: purple;
}

.byline { 
    color:rgba(0,0,0,0.5); 
    font-size: 70%;
}

header nav a { 
    color: purple;
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#page-copyright { 
    color: red; 
    text-transform: uppercase; 
    letter-spacing: 3px;
}

.diffcolor { 
    background-color: blue;
}

.bio p { 
    text-indent: 3em; 
}

footer {
    text-align: center; 
    font-size: 12px;
    margin-bottom: 2em;
    padding: 3em;
}

.width-wrap {
    max-width: 1024px;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 3em;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 4px rgba(255,255,255,0.2); 
    background-color: pink;
}

figure img {
    box-shadow: 2px 2px 3px rgba(255,255,255,0.5);
}

footer hr {
    width:50vw;
    min-width:300px;
    margin-top: 3em;
    margin-bottom: 2em;
    border-top: 3px solid;
    border-bottom: 8px dotted;
    border-left: none;
    border-right: none;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}